body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}

.calculator {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 80px;
    max-width: 580px;
    border: 2px solid black;
    padding: 50px 30px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 40px;
    border: 2px solid black;
    width: 548px;
    height: 85px;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.keyboard-button {
    font-size: 30px;
    width: 90px;
    height: 50px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.keyboard-button:hover {
    background-color: #ccc;
}

.keyboard-button.operator {
    background-color: #ffa500;
    color: #fff;
}

.keyboard-button.operator:hover {
    background-color: #ff8c00;
}

#result {
    width: 250px;
    background-color: #4caf50;
    color: #fff;
}

#result:hover {
    background-color: #45a049;
}

.previous-value {
    font-size: 20px;
    color: #888;
}
